
@{
    ViewBag.Title = "Products";
}
@using IdentityandClaims.Models
@model IEnumerable<ProductViewModel>

@{ 

    foreach(var product in Model)
    {
        <h3>
          @product.Id . @product.Name
        </h3>
    }
}

